USE [master]
GO
/****** Object:  Database [Practica_1]    Script Date: 31/08/2019 12:00:17 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Practica_1')
DROP DATABASE [Practica_1]
GO
/****** Object:  Database [Practica_1]    Script Date: 31/08/2019 12:00:17 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Practica_1')
BEGIN
CREATE DATABASE [Practica_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica_1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica_1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica_1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Practica_1_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
